<div id="rs_fm_wrapper">
  <div class="rs_fm_group_container_column">
    <p class="rs_fm_page_overview_large">This page uses Flexbox + Media Queries.</p>
    <p class="rs_fm_page_overview_small">It took me approximately an hour to build.</p>
  </div>

  <p class="rs_fm_page_text">Basic Text</p>
  <div class="rs_fm_group_container_row">
    <p class="rs_fm_group_title_item">Title-1</p>
    <p class="rs_fm_group_title_item">Title-2</p>
    <p class="rs_fm_group_title_item">Title-3</p>
    <p class="rs_fm_group_title_item">Title-4</p>
    <p class="rs_fm_group_title_item">Title-5</p>
    <p class="rs_fm_group_title_item">Title-6</p>
    <p class="rs_fm_group_title_item">Title-7</p>
    <p class="rs_fm_group_title_item">Title-8</p>
    <p class="rs_fm_group_title_item">Title-9</p>
  </div><!-- END id="rs_fm_group_container_row" -->

</div><!-- END id="rs_fm_wrapper" -->
