<div id="overview_wrapper">

  <div class="overview_container_text">
    <div class="ov_divider">
      <p class="ov_text_m">Blaine Anderson</p>
      <p class="ov_text_s">Software Engineer | Web Developer </p>
    </div>
    <p class="ov_text_l">Responsive Design Experiment</p>
    <div class="ov_divider">
      <p class="ov_text_m">One Developer's journey into the depths of many articles, stackoverflows, and... opinions.</p>
      <p class="ov_text_s">I've spent a good amount of time going over different methods, snippets, jsfiddles and more to find information I needed quickly to finish a project. unfortunately these small portions of code don't always show the whole picture.</p>
      <p class="ov_text_s">Many times I've found that had I just been able to see a parent or child block, it would have solved my problem. But instead of being able to quickly see it and move it, I find it's more often than not omitted from the example. </p>
      <p class="ov_text_s">In order to resolve this for myself now and in the future, I've taken the liberty of creating a basic layout of text, shapes and images and formatting them using different styling techniques for your enjoyment. </p>
    </div>
    <p class="ov_text_m">Click a link below to see the View with that technique as well as a link to both the view and CSS githubs.</p>
  </div>

  <div class="overview_container_links">
    <%= link_to 'Flexbox Only', flex_only_path, class: "overview_link" %>
    <%= link_to 'Media Queries Only', media_only_path, class: "overview_link" %>
    <%= link_to 'Flexbox + Media', flex_media_path, class: "overview_link" %>
  </div>

</div>
