<div id="rs_flex_wrapper">
  <div class="rs_flex_group_container">
    <h1 class="rs_flex_page_text">This page shows the use of Flexbox without Media Queries.</h1>
  </div>
  
  <div class="rs_flex_group_container">
    <!-- Flex-box Example One -->
    <h1 class="rs_flex_group_title_item">Title-1</h1>
    <h1 class="rs_flex_group_title_item">Title-2</h1>
    <h1 class="rs_flex_group_title_item">Title-3</h1>
    <h1 class="rs_flex_group_title_item">Title-4</h1>
    <h1 class="rs_flex_group_title_item">Title-5</h1>
    <h1 class="rs_flex_group_title_item">Title-6</h1>
    <h1 class="rs_flex_group_title_item">Title-7</h1>
    <h1 class="rs_flex_group_title_item">Title-8</h1>
    <h1 class="rs_flex_group_title_item">Title-9</h1>
  </div><!-- END id="rs_flex_group_container" -->

  <div class="rs_flex_group_container">
    <!-- Flex-box Example Two -->
    <h1 class="rs_flex_group_color_item" style="background-color: red;">1</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: blue;">2</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: green;">3</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: yellow;">4</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: brown;">5</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: white; color: black;">6</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: black;">7</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: purple;">8</h1>
    <h1 class="rs_flex_group_color_item" style="background-color: orange;">9</h1>
  </div><!-- END id="rs_flex_group_contaier" -->

  <div class="rs_flex_group_container">
    <!-- Flex-box Example Three -->
    <h1 class="rs_flex_group_title">Title</h1>
  </div><!-- END id="rs_flex_group_container" -->

  <div class="rs_flex_group_container">
    <!-- Media Query Example One -->
    <h1 class="rs_flex_group_title">Title</h1>
  </div><!-- END id="rs_flex_group_container" -->

</div><!-- END id="rs_flex_wrapper" -->
