<div id="handbook-wrapper" class="page_wrapper">
  <div class="handbook-intro">
    <h1 class="handbook-title">Guides</h1>
    <h3 class="handbook-text">All of my guides are kept in a single repository for simplicity.</h3>
    <h3 class="handbook-text">I've come to call it: The Coder's Handbook.</h3>
      <%= link_to "Coder's Handbook", "https://github.com/BlaineAndersonDev/coders-handbook", target: :_blank, class: 'handbook-link'  %>
    <h3 class="handbook-text">However, thay are all directly available from here as well:</h3>
    <div class="handbook-link-container">
      <%= link_to 'Ruby On Rails Refresher', "https://github.com/BlaineAndersonDev/coders-handbook/blob/master/rails_refresher.md", target: :_blank, class: 'handbook-link'  %>
      <%= link_to 'ReactJS Refresher', "https://github.com/BlaineAndersonDev/coders-handbook/blob/master/react_refresher.md", target: :_blank, class: 'handbook-link'  %>
    </div>
<!--
    <h3 class="handbook-text">Time to time I find I need or would enjoy a guide to help me figure somthing out, usually something simple.
    It seems like creating a simple codex of common use lines of code, tips and tricks would be something you can find anywhere...</h3>
    <h3 class="handbook-text">No. No, finding it is the hard part. Most times the information I'm looking for is buried in a pile of filler for an article, or some small unimportant part is debated on stackoverflow, overshadowing the actual line of code needed for a project.</h3>
    <h3 class="handbook-text">Listed below are links to my own personal guides, filled with simple code blocks and minor notes including only pertinant information for the coder looking at it. I add to these guides as required, and have more in the works that are not listed here yet (not enough infomation included to be a whole guide).</h3>
    <h3 class="handbook-text">I hope that whoever finds this can use my guides to further their projects or resolve their errors.</h3> -->
  </div>
</div>
