<div id="welcome_wrapper">
  <div class="welcome_opacity_div"></div>

  <div class="welcome_container_text">

    <div class="wel_divider_intro">
      <p class="wel_text_m_intro">Blaine Anderson</p>
      <p class="wel_text_s_intro">Software Engineer | Web Developer </p>
    </div>

    <div id="wel_image_wrapper">
      <%= image_tag("Blaine_Profile_03.jpg", class: "wel_image") %>
    </div>

    <div class="wel_divider_text">
      <p class="wel_text_m">Hey There!</p>
      <p class="wel_text_s">I'm Blaine Anderson, A Software Engineer & Web Developer based out of Mesa, Arizona. You can usually find me on a plethora of projects or working remotely for clients all over the world.</p>
      <p class="wel_text_s">I am activly looking for opportunities, so feel free to contact me about a project you need done, a position you need filled, or you just want to talk about coding (or beer).</p>
      <p class="wel_text_s"></p>
    </div>

    <div id="wel_social_container">
      <%= render 'welcome/social' %>
    </div>

  </div>

</div>
