/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  transition:all 1s ease-in-out;
}
body, html {
  margin:0;
  padding:0;
  height: 100%;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Lora', serif; */
}
#site_container{
   min-height: 100%;
   position: relative;
   /* This forces all background images to load beforehand, preventing a flicker when changing backgrounds using JQuery. */
   background: url('espresso_01.jpg') no-repeat center center fixed;
   background: url('portfolio_background_02.jpg') no-repeat center center fixed;
   background: url('portfolio_background.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#site_nav_container{

}
#site_body_container{
  padding-top: 100px;
  padding-bottom: 200px;
}
#site_foot_container{
   position: absolute;
   bottom: 0;
   width: 100%;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-top: 3px black solid;
   background: url('portfolio_background_01.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
