*{
  margin: 0;
  padding: 0;
}
body, html{
  margin: 0;
  padding: 0;
  text-align: center;
  background: #323232;
  color: white;
  height: 100%;
  width: 100%;
}
#rs_fm_wrapper{
  text-align: center;
  background: #323232;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
    }
  // Desktops
    @media (min-width: 1281px) {
    }
}
.rs_fm_group_container_row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 3px white solid;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      padding: 5px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      padding: 5px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 5px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      padding: 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      padding: 20px;
    }
}
.rs_fm_group_container_column{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border-bottom: 3px white solid;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      margin-bottom: 5px;
      padding: 5px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      margin-bottom: 5px;
      padding: 5px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      margin-bottom: 5px;
      padding: 5px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      margin-bottom: 20px;
      padding: 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      margin-bottom: 20px;
      padding: 20px;
    }
}
.rs_fm_page_overview_small{
  text-shadow: 2px 2px 8px black;
  margin-bottom: 10px;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 3em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 3.6em;
    }
}
.rs_fm_page_overview_large{
  text-shadow: 2px 2px 8px black;
  margin-bottom: 5px;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.3em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.8em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2.5em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 3.4em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 4.2em;
    }
}
.rs_fm_page_text{
  text-shadow: 2px 2px 8px black;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.7em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2.6em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 3em;
    }
}
.rs_fm_group_title_item{ //
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      border: 1px red solid;
      flex: 1 0 calc(100% * (1/3) - 30px);
      margin: 5px;
      padding: 5px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      border: 1px blue solid;
      flex: 1 0 calc(100% * (1/4) - 40px);
      margin: 5px;
      padding: 5px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      border: 1px yellow solid;
      flex: 1 0 calc(100% * (1/5) - 60px);
      margin: 7px;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      border: 1px purple solid;
      flex: 1 0 calc(100% * (1/3) - 80px);
      margin: 7px;
      padding: 10px;
      font-size: 2em;
    }
  // Desktops
    @media (min-width: 1281px) {
      border: 1px orange solid;
      flex: 1 0 calc(100% * (1/5) - 80px);
      margin: 10px;
      padding: 12px;
      font-size: 2.5em;
    }
}
.rs_fm_group_color_item{ //
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      border: 1px red solid;
      flex: 1 0 calc(100% * (1/3) - 30px);
      margin: 5px;
      padding: 5px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      border: 1px blue solid;
      flex: 1 0 calc(100% * (1/4) - 40px);
      margin: 5px;
      padding: 5px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      border: 1px yellow solid;
      flex: 1 0 calc(100% * (1/5) - 60px);
      margin: 7px;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      border: 1px purple solid;
      flex: 1 0 calc(100% * (1/3) - 80px);
      margin: 7px;
      padding: 10px;
      font-size: 2em;
    }
  // Desktops
    @media (min-width: 1281px) {
      border: 1px orange solid;
      flex: 1 0 calc(100% * (1/5) - 80px);
      margin: 10px;
      padding: 12px;
      font-size: 2.5em;
    }
}
.rs_fm_group_dog_item{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      min-height: 200px;
      min-width: 200px;
      max-height: 300px;
      max-width: 300px;
      border: 1px white solid;
      border-radius: 20px;
      margin: 10px;
      flex: 1 0 calc(100% * (1/1) - 10px);
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      min-height: 200px;
      min-width: 200px;
      max-height: 240px;
      max-width: 240px;
      border: 1px white solid;
      border-radius: 20px;
      margin: 10px;
      flex: 1 0 calc(100% * (1/2) - 10px);
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      min-height: 200px;
      min-width: 200px;
      max-height: 380px;
      max-width: 380px;
      border: 1px white solid;
      border-radius: 20px;
      margin: 10px;
      flex: 1 0 calc(100% * (1/2) - 30px);
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      min-height: 500px;
      min-width: 500px;
      max-height: 500px;
      max-width: 500px;
      border: 1px white solid;
      border-radius: 20px;
      margin: 10px;
      flex: 1 0 calc(100% * (1/2) - 60px);
    }
  // Desktops
    @media (min-width: 1281px) {
      min-height: 400px;
      min-width: 400px;
      max-height: 500px;
      max-width: 500px;
      border: 1px white solid;
      border-radius: 20px;
      margin: 10px;
      flex: 1 0 calc(100% * (1/3) - 25px);
    }
}
.rs_fm_group_dog_item_small_link{
  margin: 0 auto;
  border-radius: 20px;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      margin: 5px;
      flex: 1 0 calc(100% * (1/3) - 10px);
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      margin: 5px;
      flex: 1 0 calc(100% * (1/4) - 10px);
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      margin: 5px;
      flex: 1 0 calc(100% * (1/6) - 20px);
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      margin: 5px;
      flex: 1 0 calc(100% * (1/8) - 20px);
    }
  // Desktops
    @media (min-width: 1281px) {
      margin: 5px;
      flex: 1 0 calc(100% * (1/9) - 20px);
    }
}
.rs_fm_group_dog_item_small_link:hover{
  animation: shine2 1.5s ease-in-out;
}
@keyframes shine2 {
  0% {
    filter:contrast(100%);
  }
  20% {
    filter:contrast(300%);
  }
  100% {
    filter:contrast(100%);
  }
}
.rs_fm_group_dog_item_small{
  border: 1px white solid;
  border-radius: 20px;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      min-height: 75px;
      min-width: 75px;
      max-height: 100px;
      max-width: 100px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      min-height: 90px;
      min-width: 90px;
      max-height: 110px;
      max-width: 110px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      min-height: 90px;
      min-width: 90px;
      max-height: 110px;
      max-width: 110px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      min-height: 100px;
      min-width: 100px;
      max-height: 110px;
      max-width: 110px;
    }
  // Desktops
    @media (min-width: 1281px) {
      min-height: 100px;
      min-width: 100px;
      max-height: 110px;
      max-width: 110px;
    }
}
