*{
  margin: 0;
  padding: 0;
}
body, html{
  margin: 0;
  padding: 0;
  text-align: center;
  background: #323232;
  color: white;
  height: 100%;
  width: 100%;
}
#rs_fm_wrapper{
  text-align: center;
  background: #323232;
  color: white;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.rs_fm_group_container_row{
  width: 100%;
  height: 100%;
  flex: 1 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 3px white solid;
}
.rs_fm_group_container_column{
  width: 100%;
  height: 100%;
  flex: 1 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.rs_fm_page_overview_small{
  font-size: 3em;
  text-shadow: 2px 2px 8px black;
  margin-bottom: 10px;
}
.rs_fm_page_overview_large{
  font-size: 3.5em;
  text-shadow: 2px 2px 8px black;
  margin-bottom: 5px;
}
.rs_fm_page_text{
  font-size: 2em;
  text-shadow: 2px 2px 8px black;
}
.rs_fm_group_title_item{ //
  border: 1px lightgreen solid;
  margin: 5px;
  flex: 1 0 calc(100% * (1/3) - 15px);
}
.rs_fm_group_color_item{ //
  border: 1px lightblue solid;
  margin: 2px;
  flex: 1 0 calc(100% * (1/5) - 10px);
}
.rs_fm_group_dog_item{
  min-height: 250px;
  min-width: 250px;
  max-height: 500px;
  max-width: 500px;
  border: 1px white solid;
  border-radius: 20px;
  margin: 10px;
  flex: 1 0 calc(100% * (1/2) - 25px);
}
.rs_fm_group_dog_item_small_link{
  border-radius: 20px;
  margin: 5px;
  margin: 0 auto;
  flex: 1 0 calc(100% * (1/4) - 6px);
}
.rs_fm_group_dog_item_small_link:hover{
  animation: shine2 1.5s ease-in-out;
}
  @keyframes shine2 {
    0% {
      filter:contrast(100%);
    }
    20% {
      filter:contrast(300%);
    }
    100% {
      filter:contrast(100%);
    }
  }
.rs_fm_group_dog_item_small{
  min-height: 75px;
  min-width: 75px;
  max-height: 150px;
  max-width: 150px;
  border: 1px white solid;
  border-radius: 20px;
}
