/* Footer Begin */
#foot_wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
  height: 200px;
  border-top: 3px black solid;
  background: url('portfolio_background_01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#foot_items{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
    }
  // Desktops
    @media (min-width: 1281px) {
    }
}
/* Footer End */
