*{
  margin: 0;
  padding: 0;
}
body, html{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
}


// // Most Smartphones Mobiles (Portrait)
//   @media (min-width: 320px) and (max-width: 480px) {
//     border: 1px red solid;
//   }
// // Low Resolution Tablets, Mobiles (Landscape)
//   @media (min-width: 481px) and (max-width: 767px) {
//     border: 1px blue solid;
//   }
// // Tablets, Ipads (portrait)
//   @media (min-width: 768px) and (max-width: 1024px) {
//     border: 1px yellow solid;
//   }
// // Laptops, Desktops
//   @media (min-width: 1025px) and (max-width: 1280px) {
//     border: 1px purple solid;
//   }
// // Desktops
//   @media (min-width: 1281px) {
//     border: 1px orange soild;
//   }

#overview_wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}
.opacity_div{
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  background-image: url('espresso_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
.overview_container_text{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.ov_divider_intro{
  width: 100%;
  border-bottom: 3px white solid;
  margin: 5px 0 5px 0;
  padding: 10px;
}
.ov_text_m_intro{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2.4em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.4em;
    }
}
.ov_text_s_intro{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.1em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.2em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.2em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 1.3em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 1.3em;
    }
}
.ov_divider_text{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
}
.ov_text_l{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.8em;
      padding: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2.5em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 3.2em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 3.5em;
      padding: 10px;
    }
}
.ov_text_m{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
      padding: 8px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2.4em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.4em;
      padding: 10px;
    }
}
.ov_text_s{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.1em;
      padding-bottom: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.2em;
      padding: 9px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.2em;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 1.3em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 1.3em;
      padding: 10px;
    }
}





.overview_container_links{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      flex-flow: column wrap;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      flex-flow: column wrap;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      flex-flow: row wrap;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      flex-flow: row wrap;
    }
  // Desktops
    @media (min-width: 1281px) {
      flex-flow: row wrap;
    }
}
.overview_link{
  text-decoration: none;
  border: 2px white solid;
  color: white;
  transition:
    border 0.5s ease,
    color 0.5s ease;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
}
.overview_link:hover{
  color: lightblue;
  border: 2px lightblue solid;
}
.ov_divider_link_text{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
}
.ov_text_m_link{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
      padding: 8px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.4em;
      padding: 10px;
    }
}
