.page_wrapper{
  padding-top: 100px;
}
#welcome_wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.welcome_container_text{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.wel_divider_intro{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 3px white solid;
  margin: 5px 0 5px 0;
  padding: 10px;
}
.wel_text_m_intro{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.8em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2.2em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2.5em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 3em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 3.3em;
    }
}
.wel_text_s_intro{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.2em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.6em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2.2em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.6em;
    }
}
.wel_divider_text{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
}
.wel_text_l{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.8em;
      padding: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2.5em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 3.2em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 3.5em;
      padding: 10px;
    }
}
.wel_text_m{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
      padding: 8px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2.4em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.4em;
      padding: 10px;
    }
}
.wel_text_s{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.1em;
      padding-bottom: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.2em;
      padding: 9px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.2em;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 1.3em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 1.3em;
      padding: 10px;
    }
}





.welcome_container_links{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      flex-flow: column wrap;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      flex-flow: column wrap;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      flex-flow: row wrap;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      flex-flow: row wrap;
    }
  // Desktops
    @media (min-width: 1281px) {
      flex-flow: row wrap;
    }
}
.welcome_link{
  text-decoration: none;
  border: 2px white solid;
  color: white;
  transition:
    border 0.5s ease,
    color 0.5s ease;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
}
.welcome_link:hover{
  color: lightblue;
  border: 2px lightblue solid;
}
.wel_divider_link_text{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
}
.wel_text_m_link{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
      padding: 8px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.4em;
      padding: 10px;
    }
}

/* Image */
#wel_image_wrapper{
  width: 100%;
  height: 100%;
}
  .wel_image{
    border: 1px black solid;
    border-radius: 25%;
    transform: rotate(90deg);
      // Most Smartphones Mobiles (Portrait)
        @media (min-width: 320px) and (max-width: 480px) {
          margin-top: 3px;
          margin-bottom: 3px;
          max-width: 225px;
          min-width: 225px;
          max-height: 225px;
          min-height: 225px;
        }
      // Low Resolution Tablets, Mobiles (Landscape)
        @media (min-width: 481px) and (max-width: 767px) {
          margin-top: 5px;
          margin-bottom: 5px;
          max-width: 250px;
          min-width: 250px;
          max-height: 250px;
          min-height: 250px;
        }
      // Tablets, Ipads (portrait)
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 300px;
          min-width: 300px;
          max-height: 300px;
          min-height: 300px;
        }
      // Laptops, Desktops
        @media (min-width: 1025px) and (max-width: 1280px) {
          margin-top: 15px;
          margin-bottom: 15px;
          max-width: 325px;
          min-width: 325px;
          max-height: 325px;
          min-height: 325px;
        }
      // Desktops
        @media (min-width: 1281px) {
          margin-top: 20px;
          margin-bottom: 20px;
          max-width: 350px;
          min-width: 350px;
          max-height: 350px;
          min-height: 350px;
        }
}

/* Social Media */
#wel_social_container{
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
#social_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      flex-flow: column wrap;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      flex-flow: row wrap;
      width: 80%;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      flex-flow: row wrap;
      width: 80%;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      flex-flow: row nowrap;
      width: 100%;
    }
  // Desktops
    @media (min-width: 1281px) {
      flex-flow: row nowrap;
      width: 100%;
    }
}
  .soc_item{
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        flex: 1 1 95%;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        flex: 1 1 45%;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        flex: 1 1 45%;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        flex: 1 1 45%;
      }
    // Desktops
      @media (min-width: 1281px) {
        flex: 1 1 45%;
      }
  }
    .soc_text_container{
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px;
      }
    // Desktops
      @media (min-width: 1281px) {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px;
      }
    }
    .soc_text{
      border: 1px black solid;
      padding: 10px;
      border-radius: 20px;
      box-shadow: inset 0 0 10px #000000;
      opacity: 0.8;
      // Most Smartphones Mobiles (Portrait)
        @media (min-width: 320px) and (max-width: 480px) {
          font-size: 1em;
        }
      // Low Resolution Tablets, Mobiles (Landscape)
        @media (min-width: 481px) and (max-width: 767px) {
          font-size: 1em;
        }
      // Tablets, Ipads (portrait)
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 1em;
        }
      // Laptops, Desktops
        @media (min-width: 1025px) and (max-width: 1280px) {
          font-size: 1em;
        }
      // Desktops
        @media (min-width: 1281px) {
          font-size: 1.2em;
        }
    }.soc_text:hover{
      opacity: 1;
    }

    .social-link{
      margin-right: 10px;
      margin-left: 10px;
    }
    .social-image{
      // Most Smartphones Mobiles (Portrait)
        @media (min-width: 320px) and (max-width: 480px) {
          margin-top: 3px;
          margin-bottom: 3px;
          max-width: 65px;
          min-width: 65px;
          max-height: 65px;
          min-height: 65px;
        }
      // Low Resolution Tablets, Mobiles (Landscape)
        @media (min-width: 481px) and (max-width: 767px) {
          margin-top: 5px;
          margin-bottom: 5px;
          max-width: 75px;
          min-width: 75px;
          max-height: 75px;
          min-height: 75px;
        }
      // Tablets, Ipads (portrait)
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 90px;
          min-width: 90px;
          max-height: 90px;
          min-height: 90px;
        }
      // Laptops, Desktops
        @media (min-width: 1025px) and (max-width: 1280px) {
          margin-top: 15px;
          margin-bottom: 15px;
          max-width: 105px;
          min-width: 105px;
          max-height: 105px;
          min-height: 105px;
        }
      // Desktops
        @media (min-width: 1281px) {
          margin-top: 20px;
          margin-bottom: 20px;
          max-width: 120px;
          min-width: 120px;
          max-height: 120px;
          min-height: 120px;
        }
    }
      .social-image:hover{
        animation: shine 1.5s ease-in-out;
      }

  @keyframes shine {
    0% {
      filter:brightness(100%);
    }
    20% {
      filter:brightness(300%);
    }
    100% {
      filter:brightness(100%);
    }
  }


/* Projects Partial */
#projects-wrapper{
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      flex-flow: column wrap;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      flex-flow: column wrap;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      flex-flow: column wrap;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      flex-flow: column wrap;
    }
  // Desktops
    @media (min-width: 1281px) {
      flex-flow: row wrap;
    }
}
.project-item{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  flex-flow: column wrap;
  background-color: rgba(116, 116, 116, 0.4);
  border: 1px black solid;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        padding: 5px;
        margin: 10px;
        box-shadow: 7px 7px 5px #000000;
        width: 90%;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        padding: 10px;
        margin: 10px;
        box-shadow: 7px 7px 5px #000000;
        width: 90%;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        padding: 10px;
        margin: 15px;
        box-shadow: 10px 10px 7px #000000;
        width: 80%;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        padding: 10px;
        margin: 20px;
        box-shadow: 10px 10px 7px #000000;
        width: 70%;
      }
    // Desktops
      @media (min-width: 1281px) {
        padding: 10px;
        margin: 20px 10px 20px 10px;
        box-shadow: 10px 10px 7px #000000;
        width: 45%;
        min-height: 400px;
        max-height: 400px;
      }
}
.project-item-over{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  flex-flow: row nowrap;
}
.project-item-left{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}
  .project-image{
    border: 1px black solid;
    border-radius: 25%;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        margin-top: 3px;
        margin-bottom: 3px;
        max-width: 100px;
        min-width: 100px;
        max-height: 100px;
        min-height: 100px;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 125px;
        min-width: 125px;
        max-height: 125px;
        min-height: 125px;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 150px;
        min-width: 150px;
        max-height: 150px;
        min-height: 150px;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 175px;
        min-width: 175px;
        max-height: 175px;
        min-height: 175px;
      }
    // Desktops
      @media (min-width: 1281px) {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 200px;
        min-width: 200px;
        max-height: 200px;
        min-height: 200px;
      }
  }
  .project-image:hover{
    animation: shine2 1.5s ease-in-out;
  }

  @keyframes shine2 {
    0% {
      filter:contrast(100%);
    }
    20% {
      filter:contrast(300%);
    }
    100% {
      filter:contrast(100%);
    }
  }

.project-item-right{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}
  .project-name{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        font-size: 1.6em;
        text-shadow: 1px 1px gray;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        font-size: 1.8em;
        text-shadow: 1px 1px gray;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 2em;
        text-shadow: 1px 1px gray;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        font-size: 2.3em;
        text-shadow: 1px 1px gray;
      }
    // Desktops
      @media (min-width: 1281px) {
        font-size: 2.6em;
        text-shadow: 1px 1px gray;
      }
  }
  .project-name:hover{
    color: lightblue;
  }
  .project-name-nohover{
    color: white;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 1px 1px gray;
    transition: color 0.5s;
  }
  .project-github{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: 1px 1px gray;
    transition: color 0.5s;
  }
  .project-github:hover{
    color: lightblue;
  }
  .project-about{
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        font-size: 1.1em;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        font-size: 1.2em;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.2em;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        font-size: 1.4em;
      }
    // Desktops
      @media (min-width: 1281px) {
        font-size: 1.4em;
      }
  }
.project-item-under{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
  .project-tech{
    border-top: 1px black solid;
    width: 100%;
    padding: 10px;
      // Most Smartphones Mobiles (Portrait)
        @media (min-width: 320px) and (max-width: 480px) {
          font-size: 1em;
        }
      // Low Resolution Tablets, Mobiles (Landscape)
        @media (min-width: 481px) and (max-width: 767px) {
          font-size: 1em;
        }
      // Tablets, Ipads (portrait)
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 1em;
        }
      // Laptops, Desktops
        @media (min-width: 1025px) and (max-width: 1280px) {
          font-size: 1.2em;
        }
      // Desktops
        @media (min-width: 1281px) {
          font-size: 1.2em;
        }
  }
  .project-divider{
    margin: 0 auto;
    border-bottom: 1px solid white;
    margin-bottom: 6px;
    width: 75%;
  }
