#welcome_wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
  border-bottom: 3px black solid;
}
.welcome_opacity_div{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url('portfolio_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
.welcome_container_text{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.wel_divider_intro{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 3px white solid;
  margin: 5px 0 5px 0;
  padding: 10px;
}
.wel_text_m_intro{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.8em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2.2em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2.5em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 3em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 3.3em;
    }
}
.wel_text_s_intro{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.2em;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.6em;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2.2em;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.6em;
    }
}
.wel_divider_text{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      border-radius: 20px;
      padding: 0 20px 0 20px;
    }
}
.wel_text_l{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.8em;
      padding: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2.5em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 3.2em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 3.5em;
      padding: 10px;
    }
}
.wel_text_m{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
      padding: 8px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2.4em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.4em;
      padding: 10px;
    }
}
.wel_text_s{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.1em;
      padding-bottom: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.2em;
      padding: 9px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.2em;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 1.3em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 1.3em;
      padding: 10px;
    }
}





.welcome_container_links{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      flex-flow: column wrap;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      flex-flow: column wrap;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      flex-flow: row wrap;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      flex-flow: row wrap;
    }
  // Desktops
    @media (min-width: 1281px) {
      flex-flow: row wrap;
    }
}
.welcome_link{
  text-decoration: none;
  border: 2px white solid;
  color: white;
  transition:
    border 0.5s ease,
    color 0.5s ease;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2em;
      margin: 10px;
      padding: 10px;
    }
}
.welcome_link:hover{
  color: lightblue;
  border: 2px lightblue solid;
}
.wel_divider_link_text{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      width: 70%;
      border-bottom: 3px white solid;
      border-top: 3px white solid;
      margin: 20px;
    }
}
.wel_text_m_link{
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 1.4em;
      padding: 8px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1.5em;
      padding: 12px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.8em;
      padding: 15px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      font-size: 2em;
      padding: 10px;
    }
  // Desktops
    @media (min-width: 1281px) {
      font-size: 2.4em;
      padding: 10px;
    }
}

/* Image */
#wel_image_wrapper{
  width: 100%;
  height: 100%;
}
  .wel_image{
    border: 1px black solid;
    border-radius: 25%;
    transform: rotate(90deg);
      // Most Smartphones Mobiles (Portrait)
        @media (min-width: 320px) and (max-width: 480px) {
          margin-top: 3px;
          margin-bottom: 3px;
          max-width: 225px;
          min-width: 225px;
          max-height: 225px;
          min-height: 225px;
          border: red solid 1px;
        }
      // Low Resolution Tablets, Mobiles (Landscape)
        @media (min-width: 481px) and (max-width: 767px) {
          margin-top: 5px;
          margin-bottom: 5px;
          max-width: 250px;
          min-width: 250px;
          max-height: 250px;
          min-height: 250px;
          border: blue solid 1px;
        }
      // Tablets, Ipads (portrait)
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 300px;
          min-width: 300px;
          max-height: 300px;
          min-height: 300px;
          border: yellow solid 1px;
        }
      // Laptops, Desktops
        @media (min-width: 1025px) and (max-width: 1280px) {
          margin-top: 15px;
          margin-bottom: 15px;
          max-width: 325px;
          min-width: 325px;
          max-height: 325px;
          min-height: 325px;
        }
      // Desktops
        @media (min-width: 1281px) {
          margin-top: 20px;
          margin-bottom: 20px;
          max-width: 350px;
          min-width: 350px;
          max-height: 350px;
          min-height: 350px;
        }
}


/* Social Media */
#wel_social_container{
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
#social-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
  .soc_item{
    flex: 1 1 45%;
  }
    .soc_text_container{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    }
    .soc_text{
      border: 1px black solid;
      padding: 10px;
      border-radius: 20px;
      box-shadow: inset 0 0 10px #000000;
      opacity: 0.8;
    }.soc_text:hover{
      opacity: 1;
    }

    .social-link{
      margin-right: 10px;
      margin-left: 10px;
    }
    .social-image{
      max-width: 55px;
      min-width: 55px;
      max-height: 55px;
      min-height: 55px;
    }
      .social-image:hover{
        animation: shine 1.5s ease-in-out;
      }

  @keyframes shine {
    0% {
      filter:brightness(100%);
    }
    20% {
      filter:brightness(300%);
    }
    100% {
      filter:brightness(100%);
    }
  }
