<div id="nav_wrapper">
  <div id="nav_logo">
    logo
  </div>
  <div id="nav_links">
    <%= link_to about_path, class: "nav_link about_class" do %> About <% end %>
    <%= link_to projects_path, class: "nav_link projects_class" do %> Projects <% end %>
    <%= link_to guides_path, class: "nav_link guides_class" do %> Guides <% end %>
  </div>
</div>
