<div id="nav_wrapper">
  <div id="nav_logo">
    logo
  </div>
  <div id="nav_links">
    <%= link_to about_path, class: "nav_link" do %> About <% end %>
    <%= link_to about_path, class: "nav_link" do %> Projects <% end %>
    <%= link_to about_path, class: "nav_link" do %> Guides <% end %>
  </div>
</div>
