<div id="nav_wrapper">
  <div id="nav_opacity">
    <!-- This is just to set the background of the Navbar with opacity -->
  </div>
  <div id="nav_items">
    <!-- This is just to set the background of the Navbar with opacity -->
  </div>
  <h1>NavBar</h1>
  <p>for nav things</p>
</div>
