<div id="nav_wrapper">
  <div id="nav_links">
    <%= link_to welcome_path, class: "nav_link" do %> About <% end %>
    <%= link_to welcome_path, class: "nav_link" do %> Projects <% end %>
    <%= link_to welcome_path, class: "nav_link" do %> Guides <% end %>
    <%= link_to welcome_path, class: "nav_link" do %> Skills <% end %>
  </div>
</div>
